body {
    /* background-color: rgba(191, 248, 255, 0.35); */
    color:olivedrab;
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.19'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
/* background by SVGBackgrounds.com */
}
.section-title {
    text-align: center;
    margin: 1.5rem auto; /* centers div and gives top and bottom margin */
}
#white-space-div {
    height: 4rem;
}
.section-title + p {
    background-color:white;
    border:1px solid rgba(70, 70, 70, 0.9);
    padding: .75rem 1.25rem;
}
.btn, ul > .list-group-item {
    border:1px solid rgba(70, 70, 70, 0.9);
}

/*===========
    Navbar
=============*/

    /* match default bootstrap link color */
.custom-toggler {
    border-color: #007bff;
}
.custom-toggler:hover {
    border-color: rgba(0,86,179, 1);
}

    /* match default bootstrap link color on hover*/
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,123,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,86,179, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*===========
    Cards
=============*/

.card {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}
.card-img-top {
    max-height: 500px;
}
.img-portion {
    width: 500px;
	height: 500px;
	display: black;
}

/*===========
    Lists
=============*/

:first-child.list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-weight: bold;
}

.last{
    background-color: var(--secondarycolor);
    height: 550px;
}
   .contact{
       padding:30px 100px;
       text-align: center;
       height: 500px;
     
       color: white;
   }

   .contact h1, p{
       text-align: center;
   }

   input[type=text], textarea{
       width: 100%;
       padding: 12px;
       border: 1px solid white;
       border-radius: 4px;
       box-sizing: border-box;
       margin-top: 6px;
       margin-bottom: 16px;
       background-color: transparent;
       color: white;
   }



 input[type=submit]{
     text-align: center;
       padding: 12px 20px;
       border: 1px solid white;
       border-radius: 4px;
       box-sizing: border-box;
       cursor: pointer;
color: white;
       background-color: transparent;
   }

   .contact i{
    margin: 10px;
    cursor: pointer;   
   }

   
 #popupBoxOnePosition,
 #popupBoxTwoPosition,
 #popupBoxThreePosition {
   top: 0;
   left: 0;
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: var(--secondarycolor);
   display: none;
   z-index: +3;
 }

 .popupBoxWrapper {
   width: 100%;
   text-align: center;
 }

 .popupBoxContent {
  justify-content: center;
  text-align: center;
 }

 .popupBoxContent h1{
   color: white;
   margin-bottom: 200px;
 }

 #closebox1,
 #closebox2,
 #closebox3,
 #closebox4,
 #closebox5,
 #closebox6 {
   margin-left: 97%;
   position: absolute;
   cursor: pointer;
   color: white;
 }

.popupBoxContent img{
  float: center;
 height: 200px;
 margin: 20px;
}